*{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

li, a {
  /* fonts */
}

#menu-horizontal ul{
  list-style-type: none;
  padding: 0;
  background-color: rgba(255, 0, 0, 0.5);
}

#menu-horizontal ul li{
  display: inline;

}

#menu-horizontal ul li a{
  color: white;
  padding: 10px;
  display: inline-block;
  text-decoration: none;

}


#menu-horizontal li a:hover{
  color: black;
  /* background-color: rgb(255, 0, 0);  */
}
